.banking-outer-layout {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    justify-content: center;
    align-items: center;
    background: #ffebee;

    .banking-bank-name-container{
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .banking-usecase-layout{
        width: 90%;
        height: fit-content;
        padding: 1rem 0;
        display: flex;
        gap: 1rem;
    }

    .banking-inner-component-container{
        width: 90%;
        flex: 1;
        background: #95a5a6;
        justify-content: center;
        align-items: center;
        display: flex;
    }
}