 .banks-pages-inner-container{
    height: 90%;
    background: white;
    padding: 1rem 0 0 0;
    width: 100%;
    display: flex;
    flex-direction: column;


    .banking-logo-container{
        width: 100%;
        height: fit-content;
        justify-content: center;
        display: flex;

        img{
            width: 4rem;
            height: 4rem;
            border-radius: 100%;
        }
        
    }

    .banking-dynemic-content{
        flex: 1;
        padding: 1rem 0;
        display: flex;
        justify-content: center;
        width: 100%;
    }

 }
